/* ------------------------------------------------------------------------------Attributes */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/* -------------------------------------------------------------------------- -ID Selectors */

#features {
  position: relative;
  z-index: 1;
}

#footer {
  background-color: white;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#testimonials {
  background-color: #ef8172;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* -------------------------------------------------------------------------Class Selectors */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  color: white;
  background-color: #ff4c68;
}

/* .card {
  margin: 5%;
} */

.download-btn {
  margin: 5% 3% 5% 0;
}

.download-btn2 {
  margin: 1rem;
}

.facolor {
  color: #ef8172;
}

.facolor:hover {
  color: #ff4c68;
}

.featureLogo {
  font-size: 5rem;
}

.FeatureP {
  color: #8f8f8f;
}

.FeatureSect {
  font-size: 1.5rem;
}

.footerheading {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.footerlogos {
  letter-spacing: 0.5rem;
}

.invisiblecomp {
  color: rgba(255, 0, 0, 0);
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

.nav-item {
  padding: 0 18px;
}

.relativer {
  position: relative;
}

.press_img {
  width: 15%;
  margin: 20px 20px 50px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.prcing-column {
  padding: 3% 2%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.white-section {
  background-color: white;
}

/* MEDIA QUERY */

@media (max-width: 991px) {
  #title .container-fluid {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0deg);
  }
}

/* CART */

.cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cartnumber {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  /* font-weight: bold; */
}
